.app{
    margin-bottom: 10px;
}

.generate{
    margin-top: 10px;
    text-align: center;
}

.invalid{
    color:red;
}

.variables{
    display: flex;
    padding: 0 25px;
}

.variables a {
    color: #5d5d5d;
}