<div class="jumbotron">
    <p class="display-4">Welcome to Mobile Legends!</p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="projectnum">Project Number</label>
            <input type="text" class="form-control" name="projectnum" [(ngModel)]="pnum">
            <label class="invalid" *ngIf="result">*Invalid Project Number!</label>
        </div>
        <div class="form-group col-md-6">
            <label for="projectnum">Appended Variables</label>
            <input type="text" class="form-control app" name="projectnum" id="appended1">
            <input type="text" class="form-control app" name="projectnum" id="appended2">
            <input type="text" class="form-control app" name="projectnum" id="appended3">
            <input type="text" class="form-control app" name="projectnum" id="appended4">
            <input type="text" class="form-control app" name="projectnum" id="appended5">
            <button class="btn btn-success">Add</button>
         </div>
    </div>
    <div class="generate">
        <button class="btn btn-primary" (click)="onGenerate()">Generate!</button>
    </div>
</div>